<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphay.boot.bpm.mapper.VallisusdtMapper">
    <resultMap type="Vallisusdt" id="VallisusdtResult">
        <result property="id" column="id"/>
        <result property="openTime" column="open_time"/>
        <result property="open" column="open"/>
        <result property="high" column="high"/>
        <result property="low" column="low"/>
        <result property="close" column="close"/>
        <result property="volume" column="volume"/>
        <result property="closeTime" column="close_time"/>
        <result property="quoteVolume" column="quote_volume"/>
        <result property="trades" column="trades"/>
        <result property="takerBuyBase" column="taker_buy_base"/>
        <result property="takerBuyQuote" column="taker_buy_quote"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectVallisusdtVo">
        select id, open_time, open, high, low, close, volume, close_time,
               quote_volume, trades, taker_buy_base, taker_buy_quote,
               create_time, update_time, deleted, create_by, update_by, remark
        from vallisusdt
    </sql>

    <select id="selectVallisusdtList" parameterType="Vallisusdt" resultMap="VallisusdtResult">
        <include refid="selectVallisusdtVo"/>
        <where>
            <if test="openTime != null ">
                and open_time = #{openTime}
            </if>
            <if test="closeTime != null ">
                and close_time = #{closeTime}
            </if>
            <if test="open != null  and open != ''">
                and open = #{open}
            </if>
            <if test="high != null  and high != ''">
                and high = #{high}
            </if>
            <if test="low != null  and low != ''">
                and low = #{low}
            </if>
            <if test="close != null  and close != ''">
                and close = #{close}
            </if>
            <if test="volume != null  and volume != ''">
                and volume = #{volume}
            </if>
            <if test="quoteVolume != null  and quoteVolume != ''">
                and quote_volume = #{quoteVolume}
            </if>
            <if test="trades != null">
                and trades = #{trades}
            </if>
            <if test="takerBuyBase != null  and takerBuyBase != ''">
                and taker_buy_base = #{takerBuyBase}
            </if>
            <if test="takerBuyQuote != null  and takerBuyQuote != ''">
                and taker_buy_quote = #{takerBuyQuote}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="deleted == null">
                and deleted = 0
            </if>
        </where>
    </select>
</mapper>